server:
  port: ${APP_PORT:8080}
  servlet:
    context-path: ${CONTEXT_PATH:/api/v1.0/base}

spring:
  application:
    name: base-hexagonal



management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,prometheus

  endpoint:
    health:
      show-details: when_authorized
      probes:
        enabled: true

  metrics:
    tags:
      application: flight-service
      environment: prod

    enable:
      jvm: true
      system: true
      logback: true
      tomcat: true
      hikaricp: true

    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5,0.9,0.95,0.99
      slo:
        http.server.requests: 100ms,250ms,500ms,1s,2s,3s

    web:
      server:
        request:
          autotime:
            enabled: true
