name: CI/CD pipeline
on:
  push:
      branches:
        - main
  pull_request:
    branches:
      - main

jobs:
  hello:
      runs-on: ubuntu-latest

      steps:
        - name: Say Hello
          run: echo "Hello, this is my first Github action workflow"