name: CI/CD pipeline
on:
  push:
      branches:
        - master
  pull_request:
    branches:
      - master

jobs:
  hello:
      runs-on: ubuntu-latest

      steps:
        - name: Say Hello
          run: echo "Hello, this is my first Github action workflow"